<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            {{#each itemList}} {{#if selected}}
                <h2 id="style-1">{{itemName}}</h2>
            {{/if}} {{/each}}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <section class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{#each itemList}} {{#if selected}}
                    <img src="{{img}}" alt="..." class="modalImg"> 
                    {{/if}} {{/each}}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="container">
                        <div>
                            {{#each itemList}} {{#if selected}}
                                <h4>{{category}}</h4>
                                <h4>Product # <span id="itemId">{{itemNum}}</span></h4>
                                <h4>$<span id="price">{{price}}</span> / per unit</h4>
                                <p id="pack-price">PACK PRICE</p>
                                <p>Each pack includes 6pcs:
                                    <ul>
                                        <li>3 size SMALL</li>
                                        <li>2 size MEDIUM</li>
                                        <li>1 size LARGE</li>
                                    </ul>
                                </p>
                            </div>
                        {{/if}} {{/each}}
                        {{#each itemList}}
                            <button type="button" class="btn modalBtn" style="background-color: {{colorCode}}" data-img="{{img}}" data-color={{color}}></button>
                        {{/each}}
                            <p id="color">{{ color }}</p>
                            <input id="qty-1">
                            <button class="add">Add to cart</button>
                            <p id="confirm-add"></p>

                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
<script type="text/javascript">


$('.modalBtn').click(function() {
    console.log("modalBTN WORKING");
    var imgLink = $(this).attr("data-img");
    var color = $(this).attr("data-color");
    $('#color').text(color);
    $(".modalImg").attr("src", imgLink);
});

$('.modalBtn').hover(function(){
    var color = $(this).attr("data-color");
    $('#color').text(color);
});

$(".add").on("click", function (event) {
        // prevent page from refreshing when form tries to submit itself
        event.preventDefault();
        $('#confirm-add').text("You selection has been added to your cart!");
        // Capture user inputs and store them into variables

        var id = $("#itemId").text();
        var style = $("#style-1").text();
        var color = $("#color").text();
        var price = $("#price").text();
        var quantity = $("#qty-1").val();

        // Console log each of the user inputs to confirm we are receiving them
        console.log("NAME",style);
        console.log("COLOR",color);
        console.log("PRICE",price);
        console.log("QUANTITY",quantity);



        // Output all of the new information into the relevant sections
        var myObj = {
            itemId: id,
            itemName: style,
            itemColor: color,
            itemPrice: price,
            itemQuantity: quantity
        };


        addObject(myObj);
        displayCart();

    });

    $(".erase").on("click", function (event) {
        event.preventDefault();
        clearStorage();
    });


    $(".eraseCurrent").on("click", function (event) {
        event.preventDefault();

        var id = $("#itemId").text();
        var style = $("#style-1").text();
        var color = $("#color").text();
        var price = $("#price").text();
        var quantity = $("#qty-1").val().trim();

        var myObj = {
            itemId: id,
            itemName: style,
            itemColor: color,
            itemPrice: price,
            itemQuantity: quantity
        };

        deleteObject(myObj);
        displayCart();
    });



function addObject(myObj){
    var arr = [];
    //read all info and store in this function
    var str = localStorage.getItem("ItemCart");
    console.log(str);
    var obj = convertToObject(str);
    console.log('obj', obj);
    //if there is an array & it has stuff in it then arr has property of length
    if(obj == null){
        arr.push(myObj);
        localStorage.setItem("ItemCart", convertToString(arr));
        localStorage.setItem("total", convertToString(calcTotal(arr)));
    }else{
        //obj is an array and we just want to push
        obj.push(myObj);
        localStorage.setItem("ItemCart", convertToString(obj));
        localStorage.setItem("total", convertToString(calcTotal(obj)));
    }

}

function calcTotal(arr){
    var total = 0;
    for(var i= 0; i<arr.length; i++){
        var price = parseFloat(arr[i].itemPrice);
        var quantity = parseInt(arr[i].itemQuantity);
        total += price * quantity;
    }
    total = total.toFixed(2);
    return total;
}


function deleteObject(itemID){
    console.log('delete', itemID);
    //read all info from local storage
    var str = localStorage.getItem("ItemCart");
    var obj = convertToObject(str);
    console.log('ItemCart', obj);
    //remove object with matching id
    if(obj == null){
        alert('Cart is empty');
    }else{
        var i = 0;
        do {
            if (convertToString(itemID) === convertToString(obj[i])) {
                //if they match then remove object from array
                obj.splice(i, 1);
                console.log('new arr', obj);
                localStorage.setItem("ItemCart", convertToString(obj));
                localStorage.setItem("total", convertToString(calcTotal(obj)));
                break;
            }
            i++;
        }while(i < obj.length);
    }

}

function convertToString(obj){
    return JSON.stringify(obj);
}

function convertToObject(str){
    return JSON.parse(str);
}


// Clear localStorage
function clearStorage() {
    localStorage.clear();
}

function displayCart(){

    //iterate through an array of objects

    var array = convertToObject(localStorage.getItem("ItemCart"));

    return array;
}

$(".add").on("click", function(){
    console.log("SHOOPPPPINNGG")
    $.post("/checkout/items", displayCart()).done(function(data){
        console.log(data);
    })
})


</script>
