{{>admin-nav}}

<!--list of pending employees-->
<div class="container" id="home-banner">
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron adminActive" id="admin-active-client">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">ACTIVE CLIENTS</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Address</th>
                <th>Delete</th>
                <th></th>
                </thead>
                <tbody>
                <!--{{#each account}}-->
                <!--{{#if approvedBuyer}}-->
                <tr>
                    <form action="burger/eat/{{id}}" method="POST">
                        <th scope="row" class="green">{{this.id}}</th>
                        <th class="green">{{this.firstName}} {{this.lastName}}</th>
                        <th class="green">{{this.companyName}}</th>
                        <th class="green">{{this.address}}</th>
                        <th>
                            <button id="{{this.id}}" type="submit" class="btn btn-danger">DELETE</button>
                        </th>
                    </form>
                </tr>
                <!--{{/if}}-->
                <!--{{/each}}-->
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->
