
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Jolie</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="setup" class="home">Home</a></li>
                <li><a href="/product/members" class="Products">Products</a></li>
                <li><a href="items" class="items">Items</a></li>
                <li><a href="newItem" class="add-Items">Add new Item</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Clients<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="activeClients" class="active-clients">Active Clients</a></li>
                        <li><a href="pendingClients" class="pending-clients">Pending Clients</a></li>
                    </ul>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--End of Navbar-->

<!--list of pending employees-->
<div class="container" id="home-banner">

    <div class="jumbotron main" id="admin-home">
        <h1>Admin Home</h1>
        <p>As admin you have access to the following:</p>
        <ul class="options">
            <li>Active Clients</li>
            <li>Pending Clients</li>
            <li>Clothing Items</li>
            <li>Add new Clothing Item</li>
        </ul>

    </div>
    <div class="jumbotron adminPending hide" id="admin-pending-client">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">PENDING CLIENTS</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Address</th>
                <th>Delete</th>
                <th></th>
                </thead>
                <tbody>
                <!--{{#each burgers}}-->
                <!--{{#unless devoured}}-->
                <tr>
                    <form action="burger/eat/{{id}}" method="POST">
                        <th scope="row" class="green">{{this.id}}</th>
                        <th class="green">{{this.First_Name}} {{this.Last_Name}}</th>
                        <th class="green">{{this.company}}</th>
                        <th class="green">{{this.address}}</th>
                        <th>
                            <button id="{{this.id}}" type="submit" class="btn btn-primary">ACTIVATE</button>
                        </th>
                    </form>
                </tr>
                <!--{{/unless}}-->
                <!--{{/each}}-->
                </tbody>
            </table>
        </div>

    </div>

    <div class="jumbotron adminActive hide" id="admin-active-client">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">ACTIVE CLIENTS</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Address</th>
                <th>Delete</th>
                <th></th>
                </thead>
                <tbody>
                <!--{{#each burgers}}-->
                <!--{{#unless devoured}}-->
                <tr>
                    <form action="burger/eat/{{id}}" method="POST">
                        <th scope="row" class="green">{{this.id}}</th>
                        <th class="green">{{this.First_Name}} {{this.Last_Name}}</th>
                        <th class="green">{{this.company}}</th>
                        <th class="green">{{this.address}}</th>
                        <th>
                            <button id="{{this.id}}" type="submit" class="btn btn-danger">DELETE</button>
                        </th>
                    </form>
                </tr>
                <!--{{/unless}}-->
                <!--{{/each}}-->
                </tbody>
            </table>
        </div>
    </div>

    <div class="jumbotron allItems hide" id="admin-items">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Inventory</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Address</th>
                <th>Delete</th>
                <th></th>
                </thead>
                <tbody>
                <!--{{#each burgers}}-->
                <!--{{#unless devoured}}-->
                <tr>
                    <form action="burger/eat/{{id}}" method="POST">
                        <th scope="row" class="green">{{this.id}}</th>
                        <th class="green">{{this.First_Name}} {{this.Last_Name}}</th>
                        <th class="green">{{this.company}}</th>
                        <th class="green">{{this.address}}</th>
                        <th>
                            <button id="{{this.id}}" type="submit" class="btn btn-danger">DELETE</button>
                        </th>
                    </form>
                </tr>
                <!--{{/unless}}-->
                <!--{{/each}}-->
                </tbody>
            </table>
        </div>
    </div>

    <div class="jumbotron addItem hide" id="admin-add-item">
        <h1>Add A New Item</h1>
        <form>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="Name" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="SKU">SKU</label>
                <input type="SKU" class="form-control" id="SKU" placeholder="SKU">
            </div>
            <div class="form-group">
                <label for="colors">Colors</label>
                <input type="colors" class="form-control" id="colors"  placeholder="Enter colors">
                <small id="colorsHelp" class="form-text text-muted">Seperate colors with a comma </small>
            </div>
            <div class="form-group">
                <label for="itemDescription">Description</label>
                <textarea class="form-control" id="itemDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Image input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div> <!-- /container -->
