{{>admin-nav}}

<!--list of pending employees-->
<div class="container" id="home-banner">
    <br>
    <br>
    <br>
    <br>

    <div class="jumbotron adminPending " id="admin-pending-client">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">PENDING CLIENTS</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Address</th>
                <th>Delete</th>
                <th></th>
                </thead>
                <tbody>
                {{#each account}}
                {{#unless approvedBuyer}}
                <tr>
                    <form action="burger/eat/{{id}}" method="POST">
                        <th scope="row" class="green">{{this.id}}</th>
                        <th class="green">{{this.firstName}} {{this.lastName}}</th>
                        <th class="green">{{this.companyName}}</th>
                        <th class="green">{{this.address}}</th>
                        <th>
                            <button id="{{this.id}}" type="submit" class="btn btn-primary">ACTIVATE</button>
                        </th>
                    </form>
                </tr>
                {{/unless}}
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>


</div> <!-- /container -->
