{{>admin-nav}}

<!--list of pending employees-->
<div class="container" id="home-banner">
    <br>
    <br>
    <br>
    <br>

    <div class="jumbotron allItems" id="admin-items">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Inventory</div>
            <!-- Table -->

            <table class="table">
                <thead>
                <th>Number</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Delete</th>
                <th></th>
                </thead>
                <tbody>
                <!--{{#each products}}-->

                <tr>
                    <form action="burger/eat/{{id}}" method="POST">
                        <th scope="row" class="green">{{this.itemNum}}</th>
                        <th class="green"> {{this.itemName}}</th>
                        <th class="green">{{this.price}}</th>
                        <th class="green">{{this.category}}</th>
                        <th>
                            <button id="{{this.id}}" type="submit" class="btn btn-danger">DELETE</button>
                        </th>
                    </form>
                </tr>

                <!--{{/each}}-->
                </tbody>
            </table>
        </div>
    </div>


</div> <!-- /container -->
