{{> nav }}
<div class="container">
    <div class="personal-info">
        <p id="first-name">{{itemTest2.firstName}}</p>
        <br>
        <p id="company">{{itemTest2.companyName}}</p>
        <p class="address1">{{itemTest2.adress}}</p>
        <p class="address2">{{itemTest2.suite}}</p>
        <p class="address3">{{itemTest2.city}}</p>
        <p class="address4">{{itemTest2.state}}</p>
        <p class="address5">{{itemTest2.zip}}</p>
        <p class="address6">{{itemTest2.phone}}</p>
        <p class="email">{{itemTest2.email}}</p>
    </div>
</div>


<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Item Number</th>
        <th>Color</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub-Total</th>

    </tr>
    </thead>
    <tbody>
    {{#each itemTest}}
        <tr>
            <td>{{this.itemId}}</td>
            <td>{{this.itemColor}}</td>
            <td>{{this.itemName}}</td>
            <td>{{this.itemPrice}}</td>
            <td>{{this.itemQuantity}}</td>
            <td>{{this.itemSubTotal}}</td>
        </tr>
    {{/each}}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td id="total"></td>
    </tr>
    </tbody>
</table>

<button id="placeOrder">Place order</button>


